@use "./variables" as *;

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap";

@font-face {
	font-family: EUROCAPS;
	src: url("../fonts/EUROCAPS.TTF");
}

* {
	image-rendering: -webkit-optimize-contrast;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: linear-gradient($backgroundColor, $backgroundColor),
		url("https://cdn.jumpmaster.xyz/ProjectRanked/LeaderboardBackground/Season013/Background_Small.png")
			no-repeat fixed center;
	background-size: cover;
}
