@use "../abstracts/variables" as *;

.footer {
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	position: fixed;
	font-weight: 600;
	text-align: center;
	backdrop-filter: $blur;
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.25);
	border-top: 2px solid rgba(60, 60, 60, 0.9);
	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.25);
	}
}
