@use "../abstracts/variables" as *;

.nav {
	width: 100%;
	height: 50px;
	display: flex;
	padding: 0 0 5px 0;
	flex-direction: row;
	backdrop-filter: $blur;
	justify-content: center;
	border-bottom: 5px solid rgba(0, 0, 0, 0.75);
	font-family: "EUROCAPS", Arial, Helvetica, sans-serif;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(47, 48, 52, 0.75) 110%
	);
	.link,
	.brand,
	.active {
		height: 100%;
		margin: 0 1px;
		font-size: 15pt;
		min-width: 100px;
		line-height: 60px;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		transform: $navSkew;
		padding: 0 15px 5px 15px;
		transition: all 0.2s ease;
		.inner {
			display: block;
			transform: $navSkewNeg;
		}
	}
	.link,
	.brand {
		color: rgba(176, 176, 176, 0.75);
		background: rgba(255, 255, 255, 0.05);
		border-bottom: 5px solid rgba(140, 140, 140, 0.75);
		&:hover {
			color: rgba(255, 255, 255, 0.75);
			background: rgba(255, 255, 255, 0.15);
			border-color: rgba(255, 255, 255, 0.95);
		}
	}
	.active {
		color: rgba(255, 255, 255, 0.95);
		background: rgba(255, 30, 0, 0.55);
		border-bottom: 5px solid rgba(255, 30, 0, 0.65);
		&:hover {
			background: rgba(255, 30, 0, 0.65);
			border-color: rgba(255, 30, 0, 0.75);
		}
	}
	.brand {
		min-width: 200px;
		overflow: hidden;
		padding: 0 15px 5px 25px;
		background: rgba(43, 44, 121, 1);
		border-bottom: 5px solid rgba(199, 140, 194, 1);
		&::before {
			top: 0;
			left: 0;
			content: "";
			width: 120%;
			height: 100%;
			position: absolute;
			transform: $navSkewNeg;
			transform-origin: top left;
			background: url("https://cdn.jumpmaster.xyz/ProjectRanked/NavBackground/Season13.png")
				center;
		}
		&:hover {
			background: rgba(43, 44, 121, 1);
			border-bottom: 5px solid rgba(255, 255, 255, 1);
		}
		.inner {
			display: flex;
			line-height: 20px;
			align-items: center;
			flex-direction: column;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			.top {
				top: 9px;
				font-size: 14pt;
				position: relative;
				color: rgba(196, 176, 244, 1);
				text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
			}
			.bottom {
				top: 7px;
				font-size: 16pt;
				position: relative;
				color: rgba(255, 255, 255, 1);
				text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
			}
		}
	}
}
