@use "../abstracts/variables" as *;

@keyframes matchHover {
	0% {
		text-shadow: 0 0 5px rgba(250, 166, 26, 0.75),
			0 0 10px rgba(250, 166, 26, 0.75);
	}
	50% {
		text-shadow: 0 0 0 rgba(250, 166, 26, 0);
	}
	100% {
		text-shadow: 0 0 5px rgba(250, 166, 26, 0.75),
			0 0 10px rgba(250, 166, 26, 0.75);
	}
}

@keyframes lobbyHover {
	0% {
		text-shadow: 0 0 5px rgba(0, 225, 0, 0.75),
			0 0 10px rgba(0, 225, 0, 0.75);
	}
	50% {
		text-shadow: 0 0 0 rgba(0, 225, 0, 0);
	}
	100% {
		text-shadow: 0 0 5px rgba(0, 225, 0, 0.75),
			0 0 10px rgba(0, 225, 0, 0.75);
	}
}

.search {
	width: 80%;
	margin: 5px auto 50px auto;
	.help {
		font-size: 10pt;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.8);
	}
	.searchBox {
		width: calc(100% - 30px);
		display: flex;
		padding: 6px 15px;
		backdrop-filter: $blur;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
		.input {
			border: none;
			outline: none;
			flex-basis: 75%;
			font-size: 20pt;
			background: none;
			padding: 4px 10px;
			border-radius: 4px;
			margin: 0 15px 0 0;
			transition: all 0.2s ease;
			color: rgba(255, 255, 255, 0.9);
			border-bottom: 2px solid rgba(255, 255, 255, 0.5);
			&:focus {
				border-bottom: 2px solid rgba(255, 255, 255, 0.9);
			}
		}
		.button {
			border: none;
			flex-basis: 25%;
			font-size: 20pt;
			cursor: pointer;
			font-weight: bold;
			border-radius: 4px;
			transition: all 0.2s ease;
			backdrop-filter: $blur;
			background: rgba(255, 255, 255, 0.5);
			border-bottom: 2px solid rgba(255, 255, 255, 0.75);
		}
	}
	.top {
		display: flex;
		font-size: 16pt;
		font-weight: bold;
		text-align: center;
		margin: 10px 0 8px 0;
		backdrop-filter: $blur;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
		border-bottom: 2px solid rgba(255, 255, 255, 0.25);
		.item {
			padding: 8px 16px;
			color: rgba(255, 255, 255, 0.95);
		}
	}
	.list {
		display: flex;
		font-size: 14pt;
		margin: 0 0 4px 0;
		text-decoration: none;
		transition: all 0.2s ease;
		backdrop-filter: $blur;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
		&:hover {
			background: rgba(0, 0, 0, 0.65);
		}
		.lobby {
			top: -4px;
			left: -5px;
			font-size: 5pt;
			position: relative;
			animation-duration: 5s;
			animation-name: lobbyHover;
			color: rgba(0, 225, 0, 0.75);
			animation-iteration-count: infinite;
		}
		.offline {
			top: -4px;
			left: -5px;
			color: gray;
			font-size: 5pt;
			position: relative;
		}
		.item {
			padding: 6px 15px;
			text-align: center;
			color: rgba(255, 255, 255, 0.95);
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
		}
	}
	.error {
		width: calc(100% - 20px);
		display: block;
		font-size: 14pt;
		padding: 4px 10px;
		font-weight: bold;
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
		color: rgba(255, 255, 255, 0.95);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
	}
}
