@use "../abstracts/variables" as *;

@keyframes lobbyHover {
	0% {
		text-shadow: 0 0 5px rgba(0, 225, 0, 0.75),
			0 0 10px rgba(0, 225, 0, 0.75);
	}
	50% {
		text-shadow: 0 0 0 rgba(0, 225, 0, 0);
	}
	100% {
		text-shadow: 0 0 5px rgba(0, 225, 0, 0.75),
			0 0 10px rgba(0, 225, 0, 0.75);
	}
}

.container {
	width: 80%;
	margin: 0 auto 50px auto;
	.top {
		display: flex;
		font-size: 15pt;
		font-weight: bold;
		text-align: center;
		margin: 10px 0 15px 0;
		transform: $skew;
		backdrop-filter: $blur;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
		.item {
			padding: 8px 16px;
			border-bottom: 2px solid rgba(160, 160, 160, 0.85);
			&:nth-child(1) {
				flex-basis: 7%;
			}
			&:nth-child(2) {
				flex-basis: 39%;
			}
			&:nth-child(3) {
				flex-basis: 15%;
			}
			&:nth-child(4) {
				flex-basis: 39%;
			}
			.inner {
				display: block;
				transform: $skewNeg;
			}
			&.i1 {
				background: rgba(255, 255, 255, 0.95);
				border-left: 6px solid rgba(160, 160, 160, 0.85);
			}
			&.i2 {
				color: rgba(255, 255, 255, 0.95);
			}
		}
	}
	.list {
		display: flex;
		font-size: 14pt;
		margin: 0 0 8px 0;
		transform: $skew;
		transition: all 0.2s ease;
		backdrop-filter: $blur;
		background: rgba(0, 0, 0, 0.65);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
		&:hover {
			background: rgba(0, 0, 0, 0.85);
		}
		.item {
			padding: 8px 16px;
			text-align: center;
			position: relative;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
			&:nth-child(1) {
				flex-basis: 7%;
			}
			&:nth-child(2) {
				flex-basis: 39%;
			}
			&:nth-child(3) {
				flex-basis: 15%;
			}
			&:nth-child(4) {
				flex-basis: 39%;
			}
			.inner {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				transform: $skewNeg;
				text-overflow: ellipsis;
				color: rgba(255, 255, 255, 0.95);
				a {
					text-decoration: none;
					color: rgba(255, 255, 255, 0.95);
					&:hover {
						text-decoration: underline;
					}
				}
				.prev {
					font-size: 9pt;
					margin-left: 4px;
					&.posi {
						color: green;
					}
					&.neg {
						color: red;
					}
				}
			}
			.lobby {
				top: -4px;
				left: -5px;
				font-size: 5pt;
				position: relative;
				animation-duration: 5s;
				animation-name: lobbyHover;
				color: rgba(0, 255, 0, 0.75);
				animation-iteration-count: infinite;
			}
			.offline {
				top: -4px;
				left: -5px;
				color: gray;
				font-size: 5pt;
				position: relative;
			}
			.icon {
				left: 5%;
				width: 26px;
				position: absolute;
				transform: $skewNeg;
			}
		}
		.bold {
			font-weight: bold;
			text-shadow: 0 2px 0 rgba(0, 0, 0, 0.75);
		}
		&.Predator {
			border-bottom: 2px solid $predBorder;
			.bold {
				background: $pred;
				border-left: 4px solid $predBorder;
			}
		}
		&.Master {
			border-bottom: 2px solid $masterBorder;
			.bold {
				background: $master;
				border-left: 4px solid $masterBorder;
			}
		}
		&.Diamond {
			border-bottom: 2px solid $diamondBorder;
			.bold {
				background: $diamond;
				border-left: 4px solid $diamondBorder;
			}
		}
		&.Platinum {
			border-bottom: 2px solid $platinumBorder;
			.bold {
				background: $platinum;
				border-left: 4px solid $platinumBorder;
			}
		}
		&.First {
			border-bottom: 2px solid $firstBorder;
			.bold {
				background: $first;
				border-left: 4px solid $firstBorder;
			}
		}
		&.Second {
			border-bottom: 2px solid $secondBorder;
			.bold {
				background: $second;
				border-left: 4px solid $secondBorder;
			}
		}
		&.Third {
			border-bottom: 2px solid $thirdBorder;
			.bold {
				background: $third;
				border-left: 4px solid $thirdBorder;
			}
		}
	}
}

// @media (max-width: 1200px) {
// 	.container {
// 		width: 100%;
// 		.top {
// 			transform: skew(0deg);
// 			.item {
// 				&:nth-of-type(1) {
// 					flex-basis: 10%;
// 				}
// 				&:nth-of-type(2) {
// 					flex-basis: 45%;
// 				}
// 				&:nth-of-type(3) {
// 					display: none;
// 				}
// 				&:nth-of-type(4) {
// 					flex-basis: 45%;
// 				}
// 				.inner {
// 					transform: skew(0deg);
// 				}
// 			}
// 		}
// 		.list {
// 			transform: skew(0deg);
// 			.item {
// 				&:nth-of-type(1) {
// 					flex-basis: 10%;
// 				}
// 				&:nth-of-type(2) {
// 					flex-basis: 45%;
// 				}
// 				&:nth-of-type(3) {
// 					display: none;
// 				}
// 				&:nth-of-type(4) {
// 					flex-basis: 45%;
// 				}
// 				.inner {
// 					transform: skew(0deg);
// 				}
// 			}
// 		}
// 	}
// }
